{% if settings.header_layout == 'default' %}
<div class="wrapper-header wrapper_header_default {% if settings.header_style_mobile == 'header_mobile_3' %}header_mobile_style_3{% endif %}">
   {% comment %} {% section 'header' %} {% endcomment %}
    {% section 'navigation' %}
</div>
{% endif %}